{% extends 'base.html.twig' %}

{% block title %}Create Mobile Profile
{% endblock %}

{% block body %}
		<div class="container">
		<h1 class="text-center">Add Mobile Details</h1>
			{# {{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }} #}
      {{ form(form) }}
		</div>

	</div>
{% endblock %}
