{% extends 'base.html.twig' %}

{% block title %}Create Mobile Profile
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Please verify email</h1>

	</div>
{% endblock %}
