*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.container{
  margin: 30px auto;
  width: 90%;
  max-width: 500px;
  background: rgb(202, 199, 221);
  text-align: center;
}
#success{
  color: green;
}
